<div class="container mt-5">
    <h1 class="default-title">All Artists</h1>
    <% @artists.inspect %>
    <div class="row cards-list">
        <% @artists.each do |artist| %>
            <% artist.each do |value| %>
                    <div class="col-md-3 mb-4">
                        <a href="artists/<%= value['id'] %>">
                            <div class="card cards-list__item">
                                <figure>
                                    <img src="<%= image_path("album-open-svgrepo-com.svg") %>">
                                    <div class="label-album">
                                        <span class="link">
                                            <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;See Albums
                                        </span>
                                    </div>
                                </figure>  
                                <div class="card-body">
                                    <h5 class="card-title"><%= value["name"] %></h5>
                                    <strong>Twitter:</strong> <a target="_blank" href="https://twitter.com/<%= value['twitter'].gsub('@', '') %>" class="card-link"><%= value["twitter"] %></a>
                                </div>
                            </div>
                        </a>
                    </div>
            <% end %>
        <% end %>
    </div>
</div>