<section class="section-forms">
    <div class="container">
        <div class="row section-forms__box">
            <div class="col-4 section-forms__card">
                <h1 class="h3 mb-3 font-weight-normal">Create your account</h1>
                <%= form_with model: @user, url: sign_up_path do |f|  %>
                    <div class="form-group mb-4">
                        <%= f.label :Full_name %>
                        <%= f.text_field :full_name, class: "form-control" %>
                    </div>
                    <div class="form-group mb-4">
                        <%= f.label :Username %>
                        <%= f.text_field :username, class: "form-control" %>
                    </div>
                    <div class="form-group mb-4">
                        <%= f.label :Role %>
                        <%= f.select :role_id, [["Admin", "1"], ["User", "2"]], {selected: "2"}, {class: "form-control"} %>
                    </div>
                    <div class="form-group mb-4">
                        <%= f.label :Password %>
                        <%= f.password_field :password, class: "form-control" %>
                    </div>

                    <div class="form-group mb-4">
                        <%= f.submit "Sign in", class: "btn btn-lg btn-primary btn-block" %>
                    </div>
                    <div class="form-group create-account">
                        Already have an account? <%= link_to "Login", sign_in_path %> 
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</section>
